[flake8]
max-line-length = 120
extend-ignore = E203, W503
exclude =
    .venv,
    venv,
    .git,
    __pycache__,
    build,
    dist,
    migrations,
    staticfiles,
    media
per-file-ignores =
    config/settings/base.py: F401, F403
    config/settings/development.py: F401, F403, F405
    config/settings/staging.py: F401, F403, F405
    config/settings/production.py: F401, F403, F405
    config/settings/test.py: F401, F403, F405
